<!-- Extende do Template Base -->
{% extends 'base.html' %}
<!-- Carrega os arquivos Estáticos CSS, JS, Entre outros.... -->
{% load static %}
<!-- Styles -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/anotacoes/anotacoes.css' %}"> {% endblock %}

<style>
    #modal-confirmacao {
        backdrop-filter: blur(5px);
        transition: all 0.3s ease-in-out;
    }
</style>

<!-- Conteúdo da Página -->
{% block content %}
<!-- Conteúdo principal que ocupa o restante da tela -->
<main class="grid grid-rows-1 px-4">

    <!-- Tabela de Itens -->
    <section class="w-full pb-3">
        <div class="">
            <h2 class="text-sm font-bold my-3 px-6 py-1 text-start border-b">
                Anotações
                {% if cliente_selecionado %}
                <span>de {{ cliente.nome }}</span>
                {% endif %}
            </h2>

            <!-- Exibe mensagem de aviso oculta por padrão -->
            <div id="mensagemDiv" class=" text-gray-800 my-1 flex justify-center items-center" style="height: 25px;">
                <span id="mensagemMsg" class="hidden">Selecione um cliente para &nbsp;<strong>adicionar</strong>&nbsp;
                    itens.</span>
            </div>

            <!-- Botões lado a lado com tamanho reduzido e texto curto -->
            <div class="flex justify-between">
                <!-- Botão de adicionar -->
                <div class="flex justify-between items-center">
                    <button id="addItemBtn" onclick="toggleModal()"
                        class="bg-green-500 text-white px-2 py-1 text-xs hover:bg-green-600 transition duration-300 flex items-center space-x-2">
                        <i class="fas fa-plus"></i>
                        <span>Adicionar Item</span>
                    </button>
                </div>

                <!-- Botão de deletar (abre a janela de confirmação) -->
                {% if cliente_selecionado %}
                {% if cliente_itens %}
                <button id="deleteBtn"
                    class="bg-red-500 text-white px-2 py-1 text-xs hover:bg-red-600 transition duration-300 flex items-center space-x-2"
                    onclick="modalDeletarItem('open')">
                    <i class="fas fa-trash-alt"></i>
                    <span>Deletar</span>
                </button>
                {% endif %}
                {% endif %}
            </div>

            <!-- Tabela de Itens -->
            <div class="container-table overflow-y-auto mt-2 bg-white">
                <table id="tabela-clientes" class="bg-white w-full text-xs">
                    <thead class="bg-gray-200 sticky z-0 t-0">
                        <tr>
                            <th id="table-th" class="text-left flex py-1 px-1 py-1">
                                <input type="checkbox" class="form-checkbox" id="checkbox-select-all">
                            </th>
                            <th id="table-th" class=" text-left px-1 py-1">Item</th>
                            <th id="table-th" class=" text-left px-1 py-1">Qtd</th>
                            <th id="table-th" class=" text-left px-2 py-1">Preço</th>
                            <th id="table-th" class=" text-center px-2 py-1">Data</th>
                        </tr>
                    </thead>

                    <tbody id="table-body" style="top: 0px;">
                        {% if cliente_selecionado %}
                        {% for cliente_item in cliente_itens %}
                        <tr class="hover:bg-gray-100" data-item-id="{{ cliente_item.id }}">
                            <td id class="text-center">
                                <input type="checkbox" class="form-checkbox h-4 w-4 item-checkbox">
                            </td>
                            <td class="text-left px-1 py-1">{{ cliente_item.item.nome }}</td>
                            <td class="text-left px-1 py-1">{{ cliente_item.quantidade }}</td>
                            <td class="text-start px-1 py-1"><span style="font-size: 8px;">R$</span> {{ cliente_item.item.preco|floatformat:2 }}</td>
                            <td class="text-center px-1 py-1">{{ cliente_item.data_registro|date:"D, d M Y : H:i" }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="px-4 py-2 text-center text-gray-500">Nenhum item associado a este
                                cliente.</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="px-4 py-2 text-center text-gray-500">Selecione um Cliente para exibir
                                os <strong>Itens</strong></td>
                        </tr>
                        {% endif %}
                    </tbody>

                    <tfoot class="border sticky z-0" style="bottom: 0px;">
                        <tr>
                            <td colspan="3" class="font-bold text-right text-base">Total</td>
                            {% if cliente_selecionado %}
                            <td colspan="2" class="px-2 py-2 text-right text-sm font-bold">R$
                                {{total|floatformat:2|default:"0.00"}}</td>
                            {% else %}
                            <td colspan="2" class="px-0 py-2 text-right text-sm font-bold">R$ 0,00</td>
                            {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- Botões -->
            <div class="mt-2 flex justify-end space-x-2">
                <button id="partialPaymentBtn" onclick="togglePartialPaymentModal('open')"
                    class="bg-yellow-500 text-white px-2 py-1 text-xs hover:bg-yellow-600 transition duration-300 flex items-center space-x-2">
                    <i class="fas fa-hand-holding-usd"></i>
                    <span>Pagamento Parcial</span>
                </button>

                <button id="confirmPaymentBtn" onclick="togglePaymentModal('open')"
                    class="bg-green-500 text-white px-2 py-1 text-xs hover:bg-green-600 transition duration-300 flex items-center space-x-2">
                    <i class="fas fa-check-circle"></i>
                    <span>Confirmar Pagamento</span>
                </button>
            </div>


            <!-- _____________Modais___________________ -->

            <!-- Modal de Adicionar Itens -->
            {% if cliente_selecionado %}
            <div id="modalAdicionarItens"
                class="fixed inset-0 z-50 hidden flex justify-center items-center bg-gray-500 bg-opacity-75">
                <div class="flex flex-col justify-center bg-white p-6  w-full max-w-2xl">

                    <h3 class="text-base font-semibold mb-4 text-center">Adicionar Itens</h3>

                    <!-- Exibe o nome do cliente selecionado -->
                    <div class="flex justify-between">
                        <div class="mb-4 text-center font-medium text-sm text-gray-700">
                            Cliente: <span id="nomeCliente">{{ cliente.nome }}</span>
                        </div>
                        <div class="mb-4 text-center font-medium text-sm text-gray-700">
                            Total: <span id="nomeTotal">R$ {{ total|floatformat:2|default:"0.00" }}</span>
                        </div>
                    </div>




                    <!-- Campo de Pesquisa -->
                    <div class="mb-2">
                        <input type="text" id="itemSearch" onkeyup="filterItems()" placeholder="Pesquise os itens..."
                            class="mt-1 w-full px-4 py-2 border border-gray-300 focus:ring-blue-300 focus:border-blue-500 focus:rounded-none">


                    </div>


                    <form id="list-itens" action="{% url 'adicionar_itens_cliente' %}" method="POST"
                        class="list-itens container-table overflow-y-scroll" style="height: 55vh;">
                        {% csrf_token %}

                        <!-- Campo oculto para enviar o id do cliente -->
                        <input type="hidden" id="clienteId" name="cliente" value="{{ cliente.id }}">


                        <!-- Selecione os Itens -->
                        <table id="itemsTable" class="min-w-full table-auto">
                            <thead class="bg-gray-200 sticky z-30 shadow" style="top: 0px;">
                                <tr class="bg-gray-200">
                                    <th class="px-4 py-2 text-left">Selecione os Itens</th>
                                    <th class="px-4 py-2 text-left">Preço</th>
                                    <th class="px-4 py-2 text-left">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody id="table-body" style="top: 0px;">
                                {% for item in itens %}
                                <tr class="border-b">
                                    <td class="px-4 py-2">
                                        <div class="flex items-center">
                                            <input type="checkbox" id="item_{{ item.id }}" name="itens"
                                                value="{{ item.id }}" class="mr-2">
                                            <label for="item_{{ item.id }}" class="text-gray-700">{{item.nome}}</label>
                                        </div>
                                    </td>
                                    <td class="px-4 py-2 text-gray-700">R$ {{ item.preco }}</td>
                                    <td class="px-4 py-2">
                                        <input type="number" name="quantidade_{{ item.id }}"
                                            id="quantidade_{{ item.id }}" value="1" min="1"
                                            class="w-16 p-2 mt-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                        <!-- Botões -->
                        <div class="mt-4 p-2 flex justify-end gap-4 bg-white sticky z-30 shadow" style="bottom: 0px;">
                            <button type="button"
                                class="px-6 py-2 bg-gray-200 text-gray-700 rounded-md shadow-md hover:bg-gray-300"
                                onclick="toggleModal()">
                                Cancelar
                            </button>
                            <button type="submit"
                                class="px-6 py-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            <div id="modalDeletar"
                class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center">
                <div class="bg-white rounded-lg shadow-lg p-6 w-1/3">
                    <h2 class="text-lg font-semibold text-gray-800">Confirmar Exclusão</h2>
                    <p class="text-gray-600 mt-2">Tem certeza de que deseja excluir os itens selecionados?</p>
                    <div class="flex justify-end space-x-3 mt-4">
                        <button id="cancelBtn" onclick="modalDeletarItem('close')"
                            class="px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400">Cancelar</button>
                        <button id="confirmDeleteBtn"
                            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Deletar</button>
                    </div>
                </div>
            </div>


            <!-- Modal Deletar Cliente -->
            <div id="modal-confirmacao"
                class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden"
                style="z-index: 0;">
                <div class="bg-white rounded-lg shadow-lg p-6 w-96">
                    <h2 class="text-lg font-bold text-gray-800 mb-4">Confirmar Exclusão</h2>
                    <p class="text-gray-600 mb-6">Tem certeza de que deseja excluir este
                        cliente?</p>
                    <div class="flex justify-end gap-4">
                        <button id="cancelar"
                            class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 focus:outline-none">
                            Cancelar
                        </button>
                        <form id="form-deletar" method="POST" action="">
                            {% csrf_token %}
                            <button type="submit"
                                class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none">
                                Confirmar
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal de Confirmar Pagamento -->
            <div id="paymentConfirmationModal"
                class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center hidden">
                <div class="bg-white rounded-lg p-6 max-w-lg w-full">
                    <h3 class="text-xl font-semibold mb-4">Confirmar Pagamento</h3>
                    <p class="mb-4">Escolha a forma de pagamento:</p>

                    <!-- Formulário de formas de pagamento -->
                    <div class="space-y-4">
                        <div class="flex items-center space-x-3">
                            <input type="radio" id="creditCard" name="paymentMethod"
                                class="form-radio h-5 w-5 text-green-500" checked>
                            <label for="creditCard" class="text-lg">Cartão de Débito</label>
                        </div>
                        <div class="flex items-center space-x-3">
                            <input type="radio" id="boleto" name="paymentMethod"
                                class="form-radio h-5 w-5 text-blue-500">
                            <label for="boleto" class="text-lg">Cartão de Crédito</label>
                        </div>
                        <div class="flex items-center space-x-3">
                            <input type="radio" id="paypal" name="paymentMethod"
                                class="form-radio h-5 w-5 text-yellow-500">
                            <label for="paypal" class="text-lg">Dinheiro</label>
                        </div>
                        <div class="flex items-center space-x-3">
                            <input type="radio" id="pix" name="paymentMethod"
                                class="form-radio h-5 w-5 text-purple-500">
                            <label for="pix" class="text-lg">Pix</label>
                        </div>
                    </div>

                    <!-- Total a ser pago -->
                    <div class="mt-6 flex justify-between items-center">
                        <span class="text-lg font-semibold">Total a Pagar:</span>
                        <span class="text-xl text-green-600">R$ 150,00</span>
                    </div>

                    <div class="flex justify-end space-x-4 mt-6">
                        <!-- Botão de Cancelar -->
                        <button id="cancelPaymentBtn"
                            class="bg-gray-400 text-white px-4 py-2 rounded-md hover:bg-gray-500">
                            Cancelar
                        </button>
                        <!-- Botão de Confirmar Pagamento -->
                        <button id="submitPaymentBtn"
                            class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600">
                            Confirmar Pagamento
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal de Pagamento Parcial -->
            <div id="partialPaymentModal"
                class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center hidden p-4">

                <div class="bg-white rounded-lg p-6 max-w-lg w-full">

                    <h3 class="text-base font-semibold mb-4">Pagamento Parcial</h3>
                    <p class="mb-4 text-xs">Escolha o valor a ser pago e a forma de pagamento:</p>

                    <!-- Formulário de pagamento parcial -->
                    <div class="space-y-4">
                        <label for="partialAmount" class="text-xs">Valor do Pagamento Parcial:</label>
                        <input type="number" id="partialAmount" class="border px-4 py-1 w-full text-xs" value="0">

                        <div class="mt-4">
                            <div class="flex items-center space-x-3 mb-3">
                                <input type="radio" id="creditCardPartial" name="paymentMethodPartial"
                                    class="form-radio h-5 w-5 text-green-500" checked>
                                <label for="creditCardPartial" class="text-xs">Cartão de Débito</label>
                            </div>
                            <div class="flex items-center space-x-3 mb-3">
                                <input type="radio" id="boletoPartial" name="paymentMethodPartial"
                                    class="form-radio h-5 w-5 text-blue-500">
                                <label for="boletoPartial" class="text-xs">Cartão de Crédito</label>
                            </div>
                            <div class="flex items-center space-x-3 mb-3">
                                <input type="radio" id="paypalPartial" name="paymentMethodPartial"
                                    class="form-radio h-5 w-5 text-yellow-500">
                                <label for="paypalPartial" class="text-xs">Dinheiro</label>
                            </div>
                            <div class="flex items-center space-x-3">
                                <input type="radio" id="pixPartial" name="paymentMethodPartial"
                                    class="form-radio h-5 w-5 text-purple-500">
                                <label for="pixPartial" class="text-xs">Pix</label>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6 flex justify-between items-center">
                        <span class="text-xs font-semibold">Total da Dívida:</span>
                        <span class="text-xs text-green-600">R$ 120,00</span>
                    </div>
                    <div class="mt-2 flex justify-between items-center">
                        <span class="text-xs font-semibold">Valor do AV.:</span>
                        <span class="text-xs text-green-600">R$ 100,00</span>
                    </div>

                    <div class="flex justify-end space-x-4 mt-6">
                        <button id="cancelPartialPaymentBtn"
                            class="bg-gray-400 text-white text-xs px-4 py-2 rounded-md hover:bg-gray-500">
                            Cancelar
                        </button>
                        <button id="submitPartialPaymentBtn"
                            class="bg-green-500 text-white text-xs px-4 py-2 rounded-md hover:bg-green-600">
                            Confirmar Pagamento Parcial
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal de Confirmação de Pagamento Parcial -->
            <!-- Modal de Confirmação -->
            <div id="confirmationModal"
                class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center hidden p-4">
                <div class="bg-white rounded-lg p-6 max-w-lg w-full">
                    <h3 class="text-base font-semibold mb-4">Confirmação de Pagamento</h3>
                    <p class="mb-4 text-xs">Confira os detalhes do pagamento:</p>

                    <div class="space-y-4">
                        <div class="flex justify-between items-center">
                            <span class="text-xs font-semibold">Valor Pago:</span>
                            <span id="finalPartialAmount" class="text-xs text-green-600">R$ 0,00</span>
                        </div>
                        <div class="flex justify-between items-center">
                            <span class="text-xs font-semibold">Valor Restante:</span>
                            <span id="remainingAmount" class="text-xs text-red-600">R$ 0,00</span>
                        </div>
                    </div>

                    <div class="flex justify-end space-x-4 mt-6">
                        <button id="cancelFinalPaymentBtn"
                            class="bg-gray-400 text-white text-xs px-4 py-2 rounded-md hover:bg-gray-500">
                            Voltar
                        </button>
                        <button id="submitFinalPaymentBtn"
                            class="bg-green-500 text-white text-xs px-4 py-2 rounded-md hover:bg-green-600">
                            Confirmar Pagamento
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Observações -->
    <section class="w-full">
        <div>
            <h2 class="text-sm py-1 font-bold bg-gray-200 text-center">
                Observações
            </h2>
        </div>

        <!-- Campo de Observações -->
        <textarea id="observacoesTextarea"
            class="w-full text-left py-5 px-4 text-xs resize-none focus:outline-none focus:ring-2 focus:ring-green-500"
            style="height: 100px; text-indent: 0;"
            placeholder="Adicione suas observações aqui...">{{ observacao }}</textarea>

        <!-- Botão para Salvar Observação -->
        <button id="addObservacaoBtn"
            class="mt-4 bg-green-500 text-white text-xs py-1 px-3 hover:bg-green-600 transition duration-300 flex items-center space-x-2">
            <i class="fas fa-save"></i>
            <span>Salvar</span>
        </button>
    </section>

</main>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script>
    // Modal Deletar Cliente
    function mostrarModal(url) {
        const modal = document.getElementById('modal-confirmacao');
        const form = document.getElementById('form-deletar');
        modal.classList.remove('hidden');
        form.action = url; // Define a URL do cliente no formulário
    }

    // Cancelar Deletar Cliente
    document.getElementById('cancelar').addEventListener('click', () => {
        const modal = document.getElementById('modal-confirmacao');
        modal.classList.add('hidden');
    });

    // Modal Adicionar Item
    function toggleModal() {
        const modal = document.querySelector('#modalAdicionarItens');
        const tableAddItems = document.getElementById('table-add-items');
        if (modal) {
            modal.classList.toggle('hidden');
        } else {
            console.error('Elemento modalAdicionarItens não encontrado!');
            exibirMensagem()
        }
        console.log(tableAddItems);
    }

    // Modal Deletar Itens
    function modalDeletarItem(action) {
        const modal = document.getElementById('modalDeletar');
        modal.classList.toggle('hidden', action !== 'open');
    }

    // Selecionar todos os itens e enviar ao backend
    document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
        const checkboxes = document.querySelectorAll('.item-checkbox:checked');
        const selectedItems = Array.from(checkboxes).map(cb => cb.closest('tr').dataset.itemId);

        if (selectedItems.length === 0) {
            alert('Nenhum item selecionado!');
            return;
        }

        fetch("{% url 'deletar_item' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ items: selectedItems })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Itens deletados com sucesso!');
                    location.reload(); // Recarrega a página
                } else {
                    alert('Erro ao deletar itens.');
                }
            })
            .catch(error => console.error('Erro:', error));

        modalDeletarItem('close'); // Fecha o modal
    });

    // Selecionar todos os checkboxes
    document.getElementById('checkbox-select-all').addEventListener('change', function () {
        const checkboxes = document.querySelectorAll('.item-checkbox');
        checkboxes.forEach(cb => cb.checked = this.checked);
    });

    // Adicionar evento para o botão "Cancelar"
    document.getElementById('cancelBtn').addEventListener('click', () => {
        modalDeletarItem('close');
    });

    // Exemplo de uso no botão "Confirmar" (pode ser modificado para enviar uma requisição POST, por exemplo)
    document.getElementById('confirmDeleteBtn').addEventListener('click', () => {
        console.log('Item confirmado para deletar!');
        modalDeletarItem('close');
    });


    // Função Fechar Modal Adicionar Clientes quando não há Clientes.
    function closeErrorModal() {
        const errorModal = document.querySelector('#modalAdicionarItens');
        if (errorModal) {
            errorModal.classList.add('hidden');
        }
    }

    // Função para Filtrar os Itens no Modal Adicionar Itens
    function filterItems() {
        const searchQuery = document.getElementById('itemSearch').value.toLowerCase();
        const rows = document.querySelectorAll('#table-body tr');  // Seleciona todas as linhas da tabela

        // Itera sobre todas as linhas da tabela
        rows.forEach(function (row) {
            const itemName = row.querySelector('td label');  // Seleciona o nome do item na linha

            // Verifica se o itemName foi encontrado (não é null)
            if (itemName) {
                const itemText = itemName.innerText.toLowerCase();  // Obtém o nome do item em minúsculas

                // Se o nome do item contém o texto da pesquisa, exibe a linha; caso contrário, oculta
                if (itemText.includes(searchQuery)) {
                    row.style.display = '';  // Exibe a linha
                } else {
                    row.style.display = 'none';  // Oculta a linha
                }
            } else {
                // Se o itemName não foi encontrado, podemos esconder a linha
                row.style.display = 'none';
            }
        });
    }




    // Função para ajustar a altura do textarea conforme o conteúdo
    function autoResize(element) {
        const maxHeight = 400; // altura máxima da div
        element.style.height = 'auto'; // Reseta a altura antes de medir
        element.style.height = (element.scrollHeight > maxHeight ? maxHeight : element.scrollHeight) + 'px'; // Limita a altura e ativa o scroll
    }



    // Função para selecionar todos os itens quando eu selecionar o checkbox da 'th'
    document.addEventListener('DOMContentLoaded', function () {
        // Seleciona a tabela pelo ID
        const table = document.querySelector('#tabela-clientes');
        if (!table) return; // Garante que o script não falhe se a tabela não estiver presente

        // Seleciona o checkbox "selecionar todos" dentro dessa tabela
        const selectAllCheckbox = table.querySelector('thead input[type="checkbox"]');

        // Seleciona todos os checkboxes dos itens dessa tabela
        const itemCheckboxes = table.querySelectorAll('tbody input[type="checkbox"].item-checkbox');

        // Evento para selecionar ou desmarcar todos os checkboxes
        selectAllCheckbox.addEventListener('change', function () {
            const isChecked = selectAllCheckbox.checked;
            itemCheckboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });

        // Evento para sincronizar o estado do checkbox do cabeçalho com os checkboxes dos itens
        itemCheckboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                if (!checkbox.checked) {
                    selectAllCheckbox.checked = false;
                } else if ([...itemCheckboxes].every(cb => cb.checked)) {
                    selectAllCheckbox.checked = true;
                }
            });
        });
    });

    // Função para exibir a mensagem de alerta quando eu tentar adicionar itens sem ter selecionado o cliente
    function exibirMensagem() {
        // Acessa o valor de cliente_selecionado no HTML (true ou false)
        const clienteSelecionado = document.getElementById('clienteSelecionado').getAttribute('data-cliente-selecionado');
        const mensagemDiv = document.getElementById('mensagemDiv');
        const mensagemMsg = document.getElementById('mensagemMsg');

        // Verifique se clienteSelecionado é "false"
        if (clienteSelecionado === 'false') {
            mensagemMsg.classList.remove('hidden');
            mensagemDiv.classList.remove('bg-gray-100');
            mensagemDiv.classList.add('bg-red-100');
        }
        console.log(clienteSelecionado);
    };

    // Função para abrir ou fechar o modal de pagamento
    function togglePaymentModal(action = 'toggle') {
        const paymentModal = document.getElementById('paymentConfirmationModal');
        if (!paymentModal) {
            console.error('Modal de pagamento não encontrado!');
            return;
        }

        if (action === 'open') {
            paymentModal.classList.remove('hidden');
        } else if (action === 'close') {
            paymentModal.classList.add('hidden');
        } else {
            paymentModal.classList.toggle('hidden');
        }
    }

    // Adicionar evento ao botão de "Cancelar"
    document.getElementById('cancelPaymentBtn').addEventListener('click', () => {
        togglePaymentModal('close');
    });

    // Função para abrir ou fechar o modal de pagamento parcial
    function togglePartialPaymentModal(action = 'toggle') {
        const partialPaymentModal = document.getElementById('partialPaymentModal');
        if (!partialPaymentModal) {
            console.error('Modal de pagamento parcial não encontrado!');
            return;
        }

        if (action === 'open') {
            partialPaymentModal.classList.remove('hidden');
        } else if (action === 'close') {
            partialPaymentModal.classList.add('hidden');
        } else {
            partialPaymentModal.classList.toggle('hidden');
        }
    }

    // Adicionar evento ao botão de "Cancelar"
    document.getElementById('cancelPartialPaymentBtn').addEventListener('click', () => {
        togglePartialPaymentModal('close');
    });


    // Salvar as Observações do Cliente
    // Ajax fica escutando alterações em observações para atualizar a página
    document.addEventListener('DOMContentLoaded', () => {
        const csrfToken = "{{ csrf_token }}";
        const saveButton = document.getElementById('addObservacaoBtn');
        const textarea = document.getElementById('observacoesTextarea');
        const clienteId = "{{ cliente.id }}"; // A ID do cliente

        // Função para salvar as alterações das observações
        const updateObservacao = async () => {
            try {
                const response = await fetch(`/cliente/${clienteId}/`, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                });
                const data = await response.json();
                if (data.observacao) {
                    textarea.value = data.observacao;  // Atualiza o campo de texto
                }
            } catch (error) {
                console.error('Erro ao buscar observação:', error);
            }
        };

        // Intervalo para verificar mudanças na observação
        // setInterval(updateObservacao, 5000);  // Atualiza a cada 5 segundos

        // Evento para salvar a observação
        saveButton.addEventListener('click', async () => {
            const observacao = textarea.value;

            try {
                const response = await fetch(`/cliente/${clienteId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({ observacao }),
                });

                const result = await response.json();
                if (result.status === 'success') {
                    alert('Observação salva com sucesso!');
                } else {
                    alert('Erro ao salvar observação: ' + result.message);
                }
            } catch (error) {
                console.error('Erro na requisição:', error);
                alert('Erro ao salvar observação. Verifique sua conexão.');
            }
        });
    });

    // WebSocket para escutar alterações na página
    // ID do cliente
    var clienteId = {{ cliente.id }};
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // WebSocket para escutar alterações nas observações
    var socket = new WebSocket(`ws://${window.location.host}/ws/cliente/${clienteId}/`);

    // Quando o WebSocket se conecta
    socket.onopen = function () {
        console.log('Conectado ao WebSocket!');
    };

    // Quando o WebSocket recebe uma mensagem
    socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const observacoesTextarea = document.getElementById('observacoesTextarea');
        if (data.observacao) {
            observacoesTextarea.value = data.observacao; // Atualiza o campo de texto
        }
    };

    // Quando ocorre um erro no WebSocket
    socket.onerror = function (err) {
        console.log('Erro no WebSocket:', err);
    };

    // Quando o botão de salvar é clicado
    document.getElementById('addObservacaoBtn').addEventListener('click', async function () {
        const observacao = document.getElementById('observacoesTextarea').value;

        // Envia a observação para o WebSocket
        socket.send(JSON.stringify({ 'observacao': observacao }));

        try {
            const response = await fetch(`/cliente/${clienteId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({ observacao })
            });

            const result = await response.json();
            if (result.status === 'success') {
                console.log('Observação salva com sucesso!');
            } else {
                alert('Erro ao salvar observação: ' + result.message);
            }
        } catch (error) {
            console.error('Erro na requisição:', error);
        }
    });


</script>
{% endblock %}