<!-- Carrega os arquivos Estáticos CSS, JS, Entre outros.... -->
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- CDN TaildindCSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- CDN Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    {% block style %}{% endblock %}
    <style>
        body {
            display: grid;
            grid-template-rows: 5% 4% 1fr .1fr;
        }
    </style>
    {% block scriptHead %}{% endblock %}
</head>

<body class="h-screen">
    <!-- Cabeçalho principal da página -->
    <header class="bg-gray-800 text-white text-base">
        <div class="h-full flex justify-center items-center py-2">
            <h1 class="text-base font-bold">Caderno de Anotações</h1>
        </div>
    </header>
    <!-- Navegação principal -->
    <nav class="bg-gray-700 text-white">
        <ul class="flex justify-center items-center h-full space-x-8 py-1">
            <li class="nav-item">
                <a href="{% url 'clientes' %}" class="flex flex-row gap-1 justify-center items-center text-gray-300 hover:text-white text-xs">
                    <i class="fas fa-list-alt text-center p-1"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'historico' %}" class="flex flex-row gap-1 justify-center items-center text-gray-300 hover:text-white text-xs">
                    <i class="fas fa-history text-center p-1"></i>
                    <span>Histórico</span>
                </a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}

    <!-- Scripts -->
     
     <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>