<!-- Extende do Template Base -->
{% extends 'base.html' %}
<!-- Carrega os arquivos Estáticos CSS, JS, Entre outros.... -->
{% load static %}
<!-- Styles -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/base/base.css' %}"> {% endblock %}

<!-- Conteúdo da Página -->
{% block content %}
<!-- Conteúdo principal que ocupa o restante da tela -->
<main class="px-6">
    <!-- Menu lateral à esquerda -->
    <aside class="pt-4">
        <h2 class="bg-gray-300 text-sm font-bold text-left pl-6 py-1 border-b mb-3">Clientes</h2>
        <ul id="ul-client">
            {% for cliente in clientes_unicos %}
            <li class="py-0 border-b text-left">
                <a href="#" class="text-xs pl-6 text-gray-500 hover:text-gray-700">{{ cliente.nome }}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>
    <!-- Seção principal com artigos -->
    <section class="pt-6">
        <!-- Título fixo -->
        <h2 class="text-sm font-bold bg-gray-200 text-left pl-6 py-1">Histórico de Pagamento</h2>

        <!-- Tabela com scroll -->
        <div class="mt-4">
            <!-- Barra de Pesquisa -->
            <div class="relative mb-4 sticky z-20">
                <input type="text" id="searchInput" placeholder="Pesquisar itens..."
                    class="w-full text-xs px-4 py-1 border focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
            <div class="container-table">
                <table class="bg-white rounded-lg w-full">
                    <!-- Cabeçalho da tabela fixo -->
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="px-4 py-1 text-left text-xs">Cliente</th>
                            <th class="px-2 py-1 text-left text-xs">Item
                            </th>
                            <th class="px-2 py-1 text-left text-xs">Qtd</th>
                            <th class="px-2 py-1 text-center text-xs">Data</th>
                        </tr>
                    </thead>

                    <!-- Corpo da tabela com rolagem -->
                    <tbody id="table-body">
                        {% for h in historico %}
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-1 text-left text-xs">{{ h.cliente.nome }}</td>
                            <td class="px-2 py-1 text-left text-xs">{{ h.quantidade }}</td>
                            <td class="px-2 py-1 text-left text-xs">{{ h.item.preco }}</td>
                            <td class="px-2 py-1 text-center text-xs">{{ h.data_registro|date:"d M, Y,H:i" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="px-2 py-1 text-center">Nenhum histórico
                                disponível.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="bg-gray-200">
                        <tr>
                            <td colspan="3" class="px-2 py-1 font-bold text-center text-sm">
                                Total
                            </td>
                            <td class="px-2 py-1 border border-gray-300 text-center text-sm font-bold">
                                R$ {{ total|floatformat:2 }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script></script>
{% endblock %}